<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="nextWorkingDays" type="NextWorkingDay.Configuration.HolidayConfigurationSection,NextWorkingDay" />
  </configSections>
  
  <nextWorkingDays>
    <add description="Confraternização Universal" month="1" day="1" />
    <add description="Tiradentes" month="4" day="21" />
    <add description="Dia do Trabalho" month="5" day="1" />
    <add description="Independência do Brasil" month="9" day="7" />
    <add description="Nossa Senhora Aparecida" month="10" day="12" />
    <add description="Finados" month="11" day="2" />
    <add description="Proclamação da República" month="11" day="15" />
    <add description="Natal" month="12" day="25" />
  </nextWorkingDays>
  
</configuration>








